'
<div class="settings js-settings">
\n  
<div class="settings-toggle js-settings-toggle">\n    <i class="align-middle" data-feather="sliders"></i>\n  </div>
\n\n  
<div class="settings-panel">
\n    
<div class="settings-content">
   \n      
   <div class="settings-title d-flex align-items-center">
      \n        <button type="button" class="btn-close float-right js-settings-toggle" aria-label="Close"></button>\n\n        
      <h4 class="mb-0 ms-2 d-inline-block">Change Theme</h4>
      \n      
   </div>
   \n\n      
   <div class="settings-body">
      \n\n        
      <div class="alert alert-primary" role="alert">
         \n          
         <div class="alert-message">\n            <strong>Hey there!</strong> Choose the color scheme, sidebar and layout that best fits your project needs.\n          </div>
         \n        
      </div>
      \n\n        
      <div class="mb-3">
         \n          <span class="d-block fw-bold">Color scheme</span>\n          <span class="d-block text-muted mb-2">The perfect color mode for your app.</span>\n          
         <div class="row g-0 text-center mx-n1 mb-2">
            \n            
            <div class="col">
               \n              
               <label class="mx-1 d-block mb-1">
                  \n                <input class="settings-scheme-label" type="radio" name="theme" value="default">\n                
                  <div class="settings-scheme">
                     \n                  
                     <div class="settings-scheme-theme settings-scheme-theme-default"></div>
                     \n                
                  </div>
                  \n              
               </label>
               \n              Default\n            
            </div>
            \n            
            <div class="col">
               \n              
               <label class="mx-1 d-block mb-1">
                  \n                <input class="settings-scheme-label" type="radio" name="theme" value="dark">\n                
                  <div class="settings-scheme">
                     \n                  
                     <div class="settings-scheme-theme settings-scheme-theme-dark"></div>
                     \n                
                  </div>
                  \n              
               </label>
               \n              Dark\n            
            </div>
            \n          
         </div>
         \n          
         \n        
      </div>
      \n        \n        
      <hr />
      \n\n        
      <div class="mb-3">
         \n                        
         <div class="settings-button">\n                Compact\n              </div>
         \n            </label>\n          
      </div>
      \n        
   </div>
   \n\n        
   <hr />
   \n\n            
</div>
\n\n'